<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROCK PAPER AND SCISSORS</title>
    <link rel="stylesheet" href="./styles/games.css"/>


  </head>
  <body>
    <div class="header">
      <img src="assets/batu.png">
      <h1>ROCK PAPER AND SCISSORS</h1>
    </div>
    <div class="game-container">
    
      <!-- Game Panel -->
      <div class="main-container">
      
        <div class="player-container" id="player">
          <h2>
            PLAYER 
            <br> <span id="playerScore">-</span>
          </h2>
            <img src="assets/batu.png" id="playerRock" onclick="select('Rock')" alt="">
            <img src="assets/kertas.png" id="playerPaper" onclick="select('Paper')" alt="">
            <img src="assets/gunting.png" id="playerScissors" onclick="select('Scissors')" alt="">
        </div>
        
        <div class="mid-container">
          <div class="result-container">
            <h3 id="resultText" class="result-style"></h3>
        </div>
        <br>
          <img src="assets/refresh.png" id="reset" onclick="location.reload()" alt="">
       
        </div>
  
       
        <div class="computer-container" id="computer">
          <h2>
            COM  
            <br>
            <span id="computerScore">-</span>
          </h2>
            <img src="assets/batu.png" id="computerRock" alt="">
            <img src="assets/kertas.png" id="computerPaper" alt="">
            <img src="assets/gunting.png" id="computerScissors" alt="">
        </div>
  
        
      </div>
     
     
    

    </div>
    
    
   

    <script src="./scripts/games.js"></script>
  </body>
</html>
