<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <link rel="stylesheet" href="./styles/index.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">

    <title>HOME</title>
  </head>
  <body>
    <!-- BACKGROUND -->

    <div class="bg-main">

      <!-- BACKGROUND END -->


      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img
          src="https://seeklogo.com/images/S/steam-logo-73274B19E3-seeklogo.com.png"
          class="logo-main"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active font-weight-bold">
              <a class="nav-link font-weight-bold" href="#">HOME</a>
            </li>
            <li class="nav-item active font-weight-bold">
              <a class="nav-link font-weight-bold" href="http://localhost:8000/games">THE GAMES</a>
            </li>
            <li class="nav-item active font-weight-bold">
              <a class="nav-link font-weight-bold" href="features.html">FEAUTRES</a>
            </li>
            <li class="nav-item active font-weight-bold">
              <a class="nav-link font-weight-bold" href="require.html">REQUIREMENTS</a>
            </li>
            <li class="nav-item active font-weight-bold">
              <a class="nav-link font-weight-bold" href="scores.html">TOP SCORES</a>
            </li>

            <div class="menu-right"></div>
            <ul class="navbar-nav">
              <li class="nav-item active font-weight-bold">
                <a class="nav-link font-weight-bold" href="#">SIGN UP</a>
              </li>
              <li class="nav-item active font-weight-bold">
                <a class="nav-link font-weight-bold" href="/login">LOGIN</a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- NAVBAR END -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <!-- KONTEN -->

        <main>
          <div class="container-fluid container-main">

            <h1 class="text-main text-light">PLAY TRADITIONAL GAME</h1>
            <br>
            <h4 class="text-white">Experience new traditional gameplay</h4>
            <br>
            <br>
            <button type="button"  class="btn btn-warning font-weight-bold">
              <a class="nav-link font-weight-bold" href="/games">PLAY NOW</a>
              </button>
            <br>
            <br>

            <div class="main-bottom">
              <p class="text-light text-bottom">THE STORY</p>
              <img src="assets/caret-down-fill.svg" alt="Girl in a jacket"
                style="width:50px;height:60px; margin-left: 12px;">


            </div>
          </main>
        </div>

        <!-- KONTEN END -->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script
          src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
      </body>
    </html>