<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./styles/login.css"/>

</head>
<body>



  <form class="form form--login framed">
    <input type="email" placeholder="Email" name="id" class="input input--top" />
    <input type="password" placeholder="Password" name="password" class="input" />
    <input type="submit" value="Log in" class="input input--submit" />
    

  </form>
  

  <div class="fullscreen-bg"></div>
</body>
</html>