
body{
    min-height: 100vh;
    font-family: monospace;
    background-color: rgb(90, 255, 255)
}

.header{
    display: flex;
    color: green;
    font-size: 15px;
    padding: 2px;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
 
}
    

.game-container{
  
    text-align: center;
 
}

.player-container {
    display: grid;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    justify-items: center;
    margin-right: 10px;
    
}

.computer-container {
    display: grid;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    justify-items: center;
   
    
}

.mid-container {
    display: grid;
    align-content: center;
    justify-items: center;
}

.result-container {
    border-radius: 10px;
    padding: 1px;
    background: rgb(10, 144, 106);
    background-clip: padding-box;
    align-items: center;
    height: 80px;
    width: 150px;
}


.result-style {
    font-size: 25px;
    padding: 1px;
}


img{
    width: 80px;
    margin: 0 10px;
    cursor: grab;
    
}

#reset{
    width: 60px;
    cursor: pointer;
    margin-top: 25px;
   
}

h3{
    font-size: 35px;
    color: rgb(245, 239, 239);
}

h2{
    color: green;
    font-size: 25px;
}

.selected{
    border: 20px;
    border-radius: 25px;
    padding: 15px;
    background: rgb(10, 144, 106);
    background-clip: padding-box;
    
    
}


@media screen and (max-width: 800px) {
    .header {
        display: none;
    }

   .main-container {
    display: grid;
   }

   .hasil-tengah {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
   }
}