/* BACKGROUND MAIN  */
* body,html {
    height:100%;
}


.bg-main {
    background-image: url("../assets/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    background-position: center;
    
  
   
}
/* BACKGROUND MAIN END */

/* NAVBAR */

.logo-main {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.navbar-collapse {
    margin-left: 50px;
}
 
.menu-right {
    margin-left: 400px;
 
   
}

.navbar {
    opacity: 75%;
    background-color: black;
    font-size: 13px;
}

.nav-link:hover {
    opacity: .4;
    transform: translateY(10%);
}

/* KONTEN MAIN */
.btn {
    width: 150px;
}

.text-main {
    font-size: 65px;
}

.container-main {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
/* KONTEN MAIN END */

/* RESPONSIVE MAIN */
@media screen and (max-width: 810px) {
    
  .container-main {
    flex-basis: 100%;
    text-align: center;
  }
  
  .text-main {
    font-size: 40px;
   
  }

  .main-bottom {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }


}