html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
  }
  

  
  .framed {
    position: absolute;
    top: 50%; left: 50%;
    width: 15rem;
    margin-left: -7.5rem;
  }
  

  
  .form {
    margin-top: -4.5em;
  }
  
  .input {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    font-size: 1.125rem;
    line-height: 3rem;
    width: 100%; height: 3rem;
    background-color: rgba(255,255,255,.9);
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.7);
    padding: 0 1rem;
    font-family: 'Open Sans', sans-serif;
  }
   
    .input--top {
      border-radius: 0.5rem 0.5rem 0 0;
      border-top: 0;
    }
    .input--submit {
      background-color: rgba(3, 158, 255, 0.9);
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      border-top: 0;
      border-radius: 0 0 0.5rem 0.5rem;
      margin-bottom: 1rem;
    }
  
  .text {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
    text-decoration: none;
  }
  


  

  
  .fullscreen-bg {
    position: fixed;
    z-index: -1;
    top:0; right:0; bottom:0; left:0;
    background-color: rgb(141, 175, 216);

  }
  
  #toggle--login:checked ~ .form--signup { left:200%; visibility:hidden; }
  #toggle--signup:checked ~ .form--login { left:-100%; visibility:hidden; }
